{% extends 'conf_order/base.html' %}
{% block content %}
        <div>
                <h1 class="h3 mb-3">会议预定</h1>
        </div>

        <div class = "order d-flex">
                <div class="date-pick">
                        {% for time_splits in time_splits_array %}
                        <div class = "row" >
                                {% for time_split in time_splits %}
                                <div class="col-6 col-md d-flex">
                                        <div class="card flex-fill">
                                                <div class="card-body py-2">
                                                        <div class="row">
                                                                <div class="col-12 col-md-6 align-self-center text-center text-md-left">
                                                                        <h4>{{ time_split }}</h4>
                                                                        <p class="mb-0">空闲 1A 2B</p>
                                                                        <p >已预定 2K 2C</p>
                                                                </div>
                                                                <div class="col-12 col-md-6 align-self-center text-center text-md-right">
                                                                        <div data-label="50%" class="doughnut mt-2 doughnut-primary doughnut-50"></div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                {% endfor %}
                        </div>
                        {% endfor %}
                </div>  <!--date-pick-->


                <div class="col-12 col-md-6 col-xl-4 d-flex order-2 order-xl-1">
                        <div class="card flex-fill">
                                <div class="card-header">
                                        <h5 class="card-title mb-0">Calendar</h5>
                                </div>
                                <div class="card-body d-flex">
                                        <div class="align-self-center w-100">
                                                <div class="chart">
                                                        <div id="datetimepicker-dashboard"></div>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <script>
                                document.addEventListener("DOMContentLoaded", function(event) {
                                        $('#datetimepicker-dashboard').datetimepicker({
                                                inline: true,
                                                sideBySide: false,
                                                format: 'L'
                                        });
                                });
                        </script>
                </div>

        </div>  <!--order-->

{% endblock %}
